

html {
    background-color: #C6F7D8;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  
}
h1 {

    color: #000;
}
h2 {
    margin: 1em;
}
p {
    /*margin: 2em;*/
    line-height1.5;
    font-size: inherit;
    font-weight: 520;
}
.botInfo{
    text-align: justify;}
.tableMenu{ 
    width: 80%;
    padding: 10em;
    margin: 10%;
} 
a {

    color: #333;
    font-size: inherit;
}
.ubbutton:hover {
    background-color: #79b370;
    color: #fff;
}
.ubbutton:active {
    background-color: red;
}

table, th, tr, td, caption {
    border: 1px solid #333;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    background-color: gray;
    color: #f0f0f0;
}

h3 {
    color: rgb(240, 21, 240);
}

.pbot {
    height: 30px;
    cursor: pointer;
    color: #333;
    background-color: #f0f0f0;
    border: 1 px  solid #000000;
    border-radius: 8px;
    margin-left: 30px;
}
    

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    width: 100%;
}
nav ul li{
    display: inline;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav ul li a:hover {
    background-color: #79b370;
    border-radius: 5px;
}
/* this styling for button*/
    .bn632-hover {
            width: 160px;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            margin: 20px;
            height: 55px;
            text-align:center;
            border: none;
            background-size: 300% 100%;
            border-radius: 50px;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

    .bn632-hover:hover {
            background-position: 100% 0;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
    .bn632-hover:focus {
            outline: none;
        }
    .bn632-hover.bn23 {
            background-image: linear-gradient(to right, #009245,
            #fcee21,
            #00a8c5,
            #d9e021);
            box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
        }
        /*contact*/
    fieldset {
        border: 1px solid #000;
        color: #000;
        border-radius: 7px;
        width: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    legend {
        color: #000;
        font-size: inherit;
    }
    input, textarea {
        border: 1px solid #009245;
        border-radius: 1em;
        font-size: 16px;
        width: 250px;
        margin: 2% auto;
        padding: 10px;
        background-color: #C6F7D8;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
                     0 8px 16px rgba(0, 0, 0, 0.2) ;
        transition: box-shadow 0.3s;
    }
    input:focus {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
        outline: none; 
        border: 2px solid #000;
    }

    .formButton {
        width: 160px;
        font-size: 16px;
        font-weight: 600px;
        color: #fff;
        cursor: pointer;
        margin: 20px;
        height: 40px;
        text-align:center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;

        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .formButton:hover {
        background-position: 100% 0;
     
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    .formButton:focus {
        outline: none;
    }
    .formButton {
        background-image: linear-gradient(to right, #009245,
        #fcee21,
        #00a8c5,
        #d9e021);
        box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
    } 
